.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 64%;
  max-width: 1140px;
}
.heading {
  color: #0f172a;
  font-weight: 700;
  font-size: 37px;
  font-family: 'Roboto';
}
.input {
  border: none;
  color: #252627;
  width: 250px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Open Sans';
  background-color: #f1f5f9;
}
.destinations-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.search-container {
  display: flex;
  background-color: #f1f5f9;
  border-radius: 5px;
}
.search-icon {
  width: 33px;
  height: 33px;
  margin-top: 6px;
}
